<a href="https://colab.research.google.com/github/ishan05sharma/pytorch-basics/blob/main/Alexnet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import torch

from torch import nn, optim
from torchvision import datasets, transforms
import torch.nn.functional as F

import zipfile

import shutil
import os
import pandas as pd

device = ("cuda" if torch.cuda.is_available() else "cpu")

In [ ]:
class AlexNet(nn.Module):

  def __init__(self, num_classes = 2):
    super(AlexNet, self).__init__()

    self.conv = nn.Sequential(
                        nn.Conv2d(3, 64, kernel_size = 11, stride = 4, padding = 2),
                        nn.ReLU(inplace=True),
                        nn.MaxPool2d(kernel_size = 3, stride = 2),

                        nn.Conv2d(64, 192, kernel_size = 5, stride = 4, padding = 2),
                        nn.ReLU(inplace=True),
                        nn.MaxPool2d(kernel_size = 3, stride = 2),
                        
                        nn.Conv2d(192, 384, kernel_size = 3, padding = 1),
                        nn.ReLU(inplace=True),
                        nn.Conv2d(384, 256, kernel_size = 3, padding = 1),
                        nn.ReLU(inplace=True),
                        nn.MaxPool2d(kernel_size=3, stride = 2)
    )

    self.avgpool = nn.AdaptiveAvgPool2d((6,6))

    self.linear = nn.Sequential(
        nn.Dropout(),
        nn.Linear(256*6*6, 4096),
        nn.ReLU(inplace=True),

        nn.Dropout(),
        nn.Linear(4096, 4096),
        nn.ReLU(inplace = True),

        nn.Linear(4096,2)
    )

    def forward(self, x):
      x = self.conv(x)
      x = avgpool(x)
       
      x = torch.flatten(x, 1)
      x = self.linear(x)

      return torch.sigmoid(x)

In [ ]:
model = AlexNet()

In [ ]:
mkdir data_faces

In [ ]:
!wget https://s3-us-west-1.amazonaws.com/udacity-dlnfd/datasets/celeba.zip

--2022-01-18 15:17:22--  https://s3-us-west-1.amazonaws.com/udacity-dlnfd/datasets/celeba.zip
Resolving s3-us-west-1.amazonaws.com (s3-us-west-1.amazonaws.com)... 3.5.161.171
Connecting to s3-us-west-1.amazonaws.com (s3-us-west-1.amazonaws.com)|3.5.161.171|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1443490838 (1.3G) [application/zip]
Saving to: ‘celeba.zip’

celeba.zip          100%[===================>]   1.34G  20.2MB/s    in 78s

2022-01-18 15:18:41 (17.6 MB/s) - ‘celeba.zip’ saved [1443490838/1443490838]

In [ ]:
with zipfile.ZipFile('celeba.zip', "r") as zip_refs:
  zip_refs.extractall('data_faces/')

In [ ]:
root = 'data_faces/img_align_celeba'
img_list = os.listdir(root)
print(len(img_list))

202599

In [ ]:
df = pd.read_csv("list_attr_celeba.csv")
df

         image_id  5_o_Clock_Shadow  ...  Wearing_Necktie  Young
0      000001.jpg                -1  ...             -1.0    1.0
1      000002.jpg                -1  ...             -1.0    1.0
2      000003.jpg                -1  ...             -1.0    1.0
3      000004.jpg                -1  ...             -1.0    1.0
4      000005.jpg                -1  ...             -1.0    1.0
...           ...               ...  ...              ...    ...
68199  068200.jpg                -1  ...             -1.0   -1.0
68200  068201.jpg                -1  ...             -1.0    1.0
68201  068202.jpg                -1  ...             -1.0    1.0
68202  068203.jpg                 1  ...             -1.0    1.0
68203  068204.jpg                -1  ...              NaN    NaN

[68204 rows x 41 columns]

In [ ]:
df = df[["image_id", 'Smiling']]
df

         image_id  Smiling
0      000001.jpg      1.0
1      000002.jpg      1.0
2      000003.jpg     -1.0
3      000004.jpg     -1.0
4      000005.jpg     -1.0
...           ...      ...
68199  068200.jpg     -1.0
68200  068201.jpg     -1.0
68201  068202.jpg     -1.0
68202  068203.jpg     -1.0
68203  068204.jpg      NaN

[68204 rows x 2 columns]

In [ ]:
num = 1500
s0,s1 = 0,0

In [ ]:
!mkdir data

In [ ]:
for i, (_, i_row) in enumerate(df.iterrows()):
  if s0<num:
    if i_row["Smiling"] == 1:
      s0+=1
     shutil.copy("data_faces/img_align_celeba/"+i_row["image_id"], "data/Smiling"+i_row["image_id"])

  if s1<num:
    if i_row["Smiling"] == -1:
      s1+=1
      shutil.copy("data_faces/img_align_celeba/"+i_row["image_id"], "data/Not_Smiling"+i_row["image_id"])

SyntaxError: ignored

In [ ]:
img_list = os.listdir("data/Smiling")
img_list.extend("data/Not_Smiling")

In [ ]:
print(len(img_list))

In [ ]:
#Thing left is a training loop